// Colors
$color-black: #000000;
$color-black-opacity-02: rgba($color-black, 0.2);
$color-boulder: #797979;
$color-tundora: #404040;
$color-mercury: #E6E6E6;
$color-white: #FFFFFF;

// Typography
$font-default: 'Open Sans', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Transitions
$trannsition-regular: 0.3s;
