.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
    z-index: 1001;

	@include md {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding: 0;
	}
}

.custom-logo {
	display: inline-block;
	width: 100%;
	max-width: 80px;

	@include md {
		max-width: 140px;
	}
}

.custom-logo-link {
	display: inline-block;
}

.navbar-logo {
	flex-shrink: 0;
}
