// main navigation
$menu-link-hover-width: 2px;

.main-navigation {
	display: inline-flex;
	margin-left: auto;

	.nav-menu {
		display: inline-flex;
		align-items: center;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.page_item {
		position: relative;
		margin: 0 10px;
		overflow: hidden;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition: $trannsition-regular ease-out $trannsition-regular;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			&::before,
			&::after {
				transform: translateX(0);
			}

			a {
				&::before,
				&::after {
					transform: translateX(0);
				}
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 100%;
			width: $menu-link-hover-width;
			background-color: $color-black;
			transform: translateY(100%);
			transition: $trannsition-regular;
		}

		&::before {
			left: 0;
			top: 0;
		}

		&::after {
			right: 0;
			bottom: 0;
		}

		a {
			display: inline-block;
			padding: 15px;
			font-weight: $font-weight-semibold;
			text-transform: uppercase;
			overflow: hidden;

			&::before,
			&::after {
				content: '';
				position: absolute;
				height: $menu-link-hover-width;
				width: 100%;
				background-color: $color-black;
				transform: translateX(-100%);
				transition: $trannsition-regular;
			}

			&::before {
				top: 0;
				left: 0;
			}

			&::after {
				right: 0;
				bottom: 0;
			}
		}
	}
}

.menu-toggle {
	display: inline-block;

	@include md {
		display: none;
	}
}
