.post-content {
	display: block;
	height: 60px;
	float: center;
}

.sticky {
	display: block;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}
