.wp-block-advgb-accordions {
	width: calc(100% - 70px);
	margin-right: auto;
	margin-left: auto;

	.wp-block-advgb-accordion-item {
		.advgb-accordion-header {
            padding: 15px 0 !important;
            border-width: 0 0 1px !important;

            @include md {
                padding: 25px 0 !important;
            }

			&:focus {
				outline: none;
			}

			&[aria-expanded='true'] {
				.advgb-accordion-header-icon {
					display: block !important;
					transform: rotate(135deg);
				}
			}

			&[aria-expanded='false'] {
				.advgb-accordion-header-icon {
					transform: rotate(0deg) !important;
				}
			}

			.advgb-accordion-header-title {
				padding-left: 15px;
			}
		}

		.advgb-accordion-header-icon {
            margin-right: 15px;
			transition: $transition-regular transform $ease-default;
		}

        .advgb-accordion-body {
			border-color: transparent !important;
		}
	}
}
